body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

a{
  color: black;
  text-decoration: none;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px
}

#header-img{
  width: 30%;
}

#nav-bar{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#nav-bar ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  margin: auto 3rem;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 6rem;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin-bottom: 6rem;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form input{
  padding: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

form #submit{
  background-color: #f1c40f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: none;
}

.features{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.feature{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.feature p{
  margin: 0;
}

.features-description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  line-height: 1rem;
}

.feature p i{
  color: #ff8c00;
  font-size: 4rem;
  margin: 3rem;
  width: 100%;
}

.video{
  margin: 3rem;
  width: 100%;
  text-align: center;
}

#pricing{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
}

.low-package{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: solid 1px black;
}

.medium-package{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: solid 1px black;
}

.high-package{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: solid 1px black;
}

h4{
  text-transform: uppercase;
  width: 89%;
  background-color: #e3e3e3;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

#pricing h3{
  font-size: 1.5rem;
}

#pricing ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  list-style: none;
  line-height: 2rem;
}

.submit-button{
  background-color: #f1c40f;
  width: 7rem;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.submit-button p{
  margin: .5rem auto;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #e3e3e3;
  margin-top: 3rem;
}

footer .content-wrapper{
  align-items: flex-end;
  flex-flow: column;
}

footer ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 15%;
  padding-right: 1rem;
  margin-bottom: 0;
}

footer p{
  padding-right: 1rem;
  font-size: 14px;
}

@media screen and (max-width:768px) {
#header-img{
  width: 20%;
}

.feature p i{
  font-size: 2rem;
}

#pricing{
  justify-content: center;
  flex-flow: column;
  width: 100%;
}
}
